* {
    margin: 0 auto ;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D4480;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 802px;
    height: 802px;
    top: -512px;
    left: -720px;
}

.card {
    width: 288px; 
    height: 503px;
    top: 150px;
    left: 576px;
    border-radius: 27px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
    padding: 20px 15px;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.features  p {
    width: 170px;
    height: 33px;
    top: 363px;
    left: 626px;
    border-radius: 27px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 32.8px;
    margin: 8px 0;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    color: #000000;
}

.features img {
    width: 20px;
    height: 20px;
    top: 371px;
    left: 626px;
    border-radius: 27px;
    margin-right: 10px;
}

.border {
    width: 188px;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
    text-align: center;
}

.free {
    width: 97px;
    height: 36px;
    top: 469px;
    left: 671px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #292929;
    line-height: 36px;
    letter-spacing: 13%;
    margin-bottom: 5px;
}

.forever {
    width: 94px;
    height: 36px;
    top: 513px;
    left: 708px;
    font-family: 'Allan', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #2D4480;
}

button {
    width: 181px;
    height: 68px;
    border-radius: 22px;
    top: 585px;
    left:631px;
    border-radius: 27px;
    background-color: #FFBC0F;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

button > p {
    width: 113px;
    height: 33px;
    top: 602px;
    left: 665px;
    color: #253868;
    font-family: "Noto Sans", serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 32.8px;
}

button:hover {
    transform: scale(1.05);
}

.noto-preconnect {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.allan-regular {
    font-family: "Allan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.allan-bold {
    font-family: "Allan", serif;
    font-weight: 700;
    font-style: normal;
  }
  