* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D4480;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px; 
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
    padding: 20px 15px;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.features p {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    margin: 8px 0;
    text-transform: uppercase;
    color: #333;
}

.features img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.border {
    height: 1px;
    width: 100%;
    background-color: #ddd;
    margin: 20px 0;
}

.free {
    font-size: 22px;
    font-weight: 800;
    color: #292929;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.forever {
    font-family: 'Allan', serif;
    font-size: 20px;
    font-weight: 400;
    color: #2D4480;
    margin-bottom: 20px;
}

button {
    width: 200px;
    height: 45px;
    border-radius: 22px;
    background-color: #FFBC0F;
    color: #253868;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

.noto-preconnect {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.allan-regular {
    font-family: "Allan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.allan-bold {
    font-family: "Allan", serif;
    font-weight: 700;
    font-style: normal;
  }
  