*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #2D4480;
}

.card{
    width: 288px;
    height: 469px;
    border-radius: 27px;
    border: 1px #000000;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
}

h1{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    padding-top: 45px;
    text-transform: uppercase;
}

p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 32.8px;
    letter-spacing: 6%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.features{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.features div{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.features img{
    margin-right: 20px;
}


.border{
    margin-top: 17px;
    font-weight: bolder;
}

.free{
    color:#292929;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-top: 5px;
    letter-spacing: 13%;
    line-height: 36px;
}

.forever{
    color:#2D4480;
    font-family: 'Allan', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-left: 70px;
}

button{
    color: #253868;
    background-color: #FFBC0F;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 32.8px;
    text-align: center;
    padding: 15px 0px;
    width: 181px;
    height: 68px;
    border-radius: 27px;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    align-self: center;
}

.noto-preconnect {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.allan-regular {
    font-family: "Allan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.allan-bold {
    font-family: "Allan", serif;
    font-weight: 700;
    font-style: normal;
  }
  