* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D74949;
    width: 1440px;
    height: 684px;
    margin: 0 auto;
}

header {
    width: 1110px;
    height: 615px;
    margin-left: 165px;
    background-color: #f3f3f3;
}

.recBody {
    background-color: #D9D9D9;
    /*margin: 0 auto;*/
    width: 49px;
    height: 2px;
    top: -73px;
    left: -168px;
    margin-top: 6px;
}

h1 {
    margin: 0 auto;
    width: 64px;
    height: 16px;
    padding-top: 100px;
    margin-left: 49px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000
}

h2 {
    color: #000000;
    width: 1009px;
    height: 19px;
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
}

.headerPhrase {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.headerPhrase>span {
    color: #8F2727
}

.card {
    background-color: #ffffff;
    width: 200px;
    height: 300px;
    top: 215px;
    left: 215px;
    border-radius: 15px;
}

.image img, .image {
    background-color: #F3F3F3;
    width: 200px;
    height: 185px;
    margin-left: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cadre{
    background-color: white;
    width: 200px;
    height: 115px;
    margin-left: 50px;
    border-bottom-left-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circle {
    background-color: #D9D9D9;
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    margin-left:210px;
    bottom:30px
}

.name {
    color: #000000;
    width: 64px;
    height: 16px;
    top: 420px;
    bottom: 235px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
}

.job {
    width: 152px;
    height: 16px;
    left: 235px;
    top: 439px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}

.linkedin {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 10px;
}

.whatsapp {
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 10px;
}

.ellipseProfile {
    width: 54px;
    height: 54px;
    margin-left: 160px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

footer {
    background-color: #3A3A3A;
    width: 1440px;
    height: 70px;
}

.textFooter {
    width: 176px;
    height: 16px;
    margin-left: 632px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
}

.recFooter {
    width: 13px;
    height: 27px;
    margin-left: 735px;
    background-color: #D9D9D9;
}

.roboto-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

